@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');  

:root{
    /*======= Colores ========*/
    --main-background: #778da0;
    --sidebar-background: #ebe5e5;
    --mode-background: #cec8c8;
    --mode-toggle-background: #cec8c8;
    --mode-toggle: #a29e9e; 

    --toggle-bakground: black;

    --sidebar-header: black;
    --sidebar-options: black;
    
    /*======= Transiciones ========*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

/*====== Reusable =========*/
.sidebar-menu .header-text{
    font-size: 1rem;
    font-weight: 200;
}

.sidebar-menu .image{
    min-width: 3rem;
    display: flex;
    align-items: center;
}

.sidebar-menu .text{
    color: var(--sidebar-options);
}

.sidebar-menu .icon{
    color: var(--sidebar-options);
}
/*===== HTML =====*/
html{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    background-color: var(--main-background);
}

/*============================*/
/*====== sidebar START =======*/
/*============================*/

/*====== aside class='sidebar-menu'  =======*/
.sidebar-menu{
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 17em;
    padding: 1rem 2rem;
    background: var(--sidebar-background);
}

/*====== side bar logo & text =======*/
.sidebar-menu header{
    position: relative;
}
.sidebar-menu header .sidebar-image-text{
    display: flex;
    align-items: center;
}
.sidebar-menu header .sidebar-image-text img{
    width: 2rem;
    height: 2rem;
    border-radius: 6px;
}
.sidebar-menu header .toggle{
    position: absolute;
    top: 50%;
    right: -3rem;
    transform: translateY(-50%);
    height: 2rem;
    width: 2rem;
    background: var(--toggle-bakground);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-background);
}

/*====== sidebar options =======*/
.sidebar-menu .sidebar-options{
    margin-top: 1rem;
}
    /*====== Hover to all options, except Mode =======*/
.sidebar-menu .sidebar-options a, .sidebar-menu .bottom-options .about a{
    display: flex;
    align-items: center;
    border-radius: 6px;
    gap: 1.5rem;
    text-decoration: none;
    transition: var(--tran-04);
}
.sidebar-menu .sidebar-options a:hover, .sidebar-menu .bottom-options .about a:hover{
    background: var(--main-background);
}

/*====== sidebar bottom options=======*/
.sidebar-menu .bottom-options{
    position: absolute;
    bottom: 3rem;
}

/*====== Dark Light Mode=======*/
.sidebar-menu .bottom-options .mode{
    display: flex;
    align-items: center;
    border-radius: 6px;
    gap: 1.5rem;
    background: var(--mode-background);
}
.sidebar-menu .bottom-options .mode .dark-light{
    display: flex;
    flex-direction: column;
    width: 1.8rem;
    height: 1.6rem;
    align-items: center;
}
.sidebar-menu .bottom-options .mode .dark-light .light{
    opacity: 0;
}
.sidebar-menu .bottom-options .mode .icon{
    position: absolute;
}
.sidebar-menu .bottom-options .mode .toggle-switch{
    display: flex;
    min-height: 60px;
    min-width: 60px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    background: var(--mode-toggle-background);
}
.sidebar-menu .bottom-options .mode .toggle-switch .switch{
    position: relative;
    min-height: 1.3rem;
    min-width: 2.7rem;
    border-radius: 3rem;
    background: var(--mode-toggle);
}
.sidebar-menu .bottom-options .mode .toggle-switch .switch::before{
    content: '';
    position: absolute;
    min-height: 0.9rem;
    min-width: 0.9rem;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    background: var(--sidebar-background);
    transform: translateY(-50%);
}
