/*====== IMPORTS============================================================*/
/*==========================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');  

/*==========================================================================*/
/*====== ROOT ==============================================================*/
/*==========================================================================*/
:root{
    /*======= Colores ========*/
    --main-background: #778da0;
    --sidebar-background: #ebe5e5;
    --sidebar-text: black;
    --sidebar-icon: black;
    --toggle-bakground: black;
    --mode-background: #cec8c8;
    --mode-toggle-background: #cec8c8;
    --mode-toggle: #a29e9e; 
    
    /*======= Transiciones ========*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    
    /*======= Distances(padding, gaps) ========*/

    /*======= Borders radius ========*/

    
}
/*=================================================================================*/
/*====== HTML & BODY ==============================================================*/
/*=================================================================================*/
html{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem; /*default 16px => 0.88*16px=14px aprox*/
    user-select: none;
    overflow: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-background);
    transition: var(--tran-02);
    &.dark{
        --main-background: #18191a;
        --sidebar-background: #242526;
        --mode-background: #3a3b3c;
        --mode-toggle-background: #3a3b3c;
        --mode-toggle: #a29e9e; 
        /*Dark to Light*/
        --sidebar-text: #ebe5e5;
        --sidebar-icon: #ebe5e5;
        --toggle-bakground: #ebe5e5;
    }
}

body.dark .sidebar-menu .bottom-options .mode .toggle-switch .switch::before{
    left: 1.5rem;
}
    
/*==========================================================================*/
/*====== SIDEBAR MENU ======================================================*/
/*==========================================================================*/
.sidebar-menu{
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0rem 1.5rem 1rem;
    background: var(--sidebar-background);
    transition: var(--tran-05);
    & .icon{color: var(--sidebar-icon);}
    & .text{
        color: var(--sidebar-text);
        transition: var(--tran-05);
    }
    /*====== HEADER LOGO & TEXT =========*/
    /*===================================*/
    & header{ 
        display: flex;
        align-items: center;
        & .sidebar-image-text{ 
            display: flex;
            align-items: center;
            & .image{
                display: flex;
                & img{
                    width: 2rem;
                    height: 2rem;
                    border-radius: 6px;
                }
            }
            & .header-text{
                padding: 0 0 0 1rem;
            }
        }
        /*====== toggle minimize-expand =========*/
        /*=======================================*/
        & .toggle{
            height: 2rem; /*size*/
            width: 2rem;
            display: flex; /*alignment of icon*/
            align-items: center;
            justify-content: center;
            border-radius: 35%;
            background: var(--toggle-bakground); /*color*/
            color: var(--sidebar-background);
            position: relative; /*position*/
            left: 1.2rem;
            cursor: pointer;
        }
    }

    /*============= OPTIONS CONTAINERS POSOTION =============*/
    /*==============================================*/
    & .sidebar-options{
        position: relative;
        margin-top: 1rem;
        & div:hover{
            background: var(--main-background);
            border-radius: 6px;
            width: 90%;
        }
    }
    & .bottom-options{
        position: absolute;
        bottom: 3rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        & .about:hover{
            background: var(--main-background);
            border-radius: 6px;
        }
        & .mode{
            display: flex;
            align-items: center;
            border-radius: 6px;
            gap: 0.5rem;
            background: var(--mode-background);
            padding: 0 0 0 1rem;
            
            & .dark-light{
                display: flex;
                flex-direction: column;
                width: 1.8rem;
                height: 1.6rem;
                align-items: center;
                & .light{ opacity: 0; }
            }

            & .icon{position: absolute;}            }

            & .toggle-switch{
                display: flex;
                min-height: 4.3rem;
                min-width: 4.3rem;
                border-radius: 6px;
                align-items: center;
                justify-content: center;
                background: var(--mode-toggle-background);
                & .switch{
                    position: relative;
                    min-height: 1.3rem;
                    min-width: 2.7rem;
                    border-radius: 3rem;
                    background: var(--mode-toggle);
                    cursor: pointer;
                    /* &::before hace un puntero al padre, en este caso class="switch"*/
                    /*Equivale a .switch::before*/
                    &::before{
                        content: '';
                        position: absolute;
                        min-height: 0.9rem;
                        min-width: 0.9rem;
                        border-radius: 50%;
                        top: 50%;
                        left: 5px;
                        background: var(--sidebar-background);
                        transform: translateY(-50%);
                        transition: var(--tran-03);
                    }
                }
            }
    }
    /*====== Align all class='option' with <a></> inside for links =======*/
    /*==========================================*/
    & .option a{
        display: flex;
        align-items: center;
        border-radius: 6px;
        gap: 1rem;
        text-decoration: none;
        transition: var(--tran-04);
        padding-left: 2rem;
        box-sizing: border-box;
    }
    /*====== CLOSED NAV BAR ===========================*/
    /*====================================================*/
    &.close{
        .text{ display: none; }
        .header-text{ display: none;}
        padding: 1rem 1rem 1.5rem 1rem;
        & header{
            display: flex;
            /*align-items: center;*/
            position: relative;
            left: 1rem;
        }
        & .sidebar-options{
            position: relative;
            margin-top: 2rem;
            & div:hover{
                background: var(--main-background);
                border-radius: 6px;
                width: 70%;
            }
        }
        & .bottom-options{
            position: absolute;
            bottom: 3rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            & .about:hover{
                background: var(--main-background);
                border-radius: 6px;
                width: 70%;
            }
            & .mode{
                display: flex;
                align-items: center;
                border-radius: 6px;
                gap: 0rem;
                background: var(--mode-background);
                padding: 0 0 0 0rem;
                
                & .dark-light{
                    display: none;
                    flex-direction: column;
                    width: 1.8rem;
                    height: 1.6rem;
                    align-items: center;
                    & .light{ opacity: 0; }
                }
    
                & .icon{position: absolute;}            
            }
    
            & .toggle-switch{
                display: flex;
                min-height: 4.3rem;
                min-width: 4.3rem;
                border-radius: 6px;
                align-items: center;
                justify-content: center;
                background: var(--mode-toggle-background);
                & .switch{
                    position: relative;
                    min-height: 1.3rem;
                    min-width: 2.7rem;
                    border-radius: 3rem;
                    background: var(--mode-toggle);
                    cursor: pointer;
                    /* &::before hace un puntero al padre, en este caso class="switch"*/
                    &::before{
                        content: '';
                        position: absolute;
                        min-height: 0.9rem;
                        min-width: 0.9rem;
                        border-radius: 50%;
                        top: 50%;
                        left: 5px;
                        background: var(--sidebar-background);
                        transform: translateY(-50%);
                        transition: var(--tran-03);
                    }
                }
            }
        }
        & .option{
            /*Aca se puede jugar con margin para desplazar elementos*/
            /*Idem para la barra abierta*/
            /*El padding aplica para el hover, el margin NO*/
            position: relative;
            left: 0.7rem;
            & a{ padding: 0.5rem 0.5rem 0.5rem 0.5rem; }
                        
        }
    }
}